<div class="content" *ngIf="!showSearchResult">
    <div class="list-characters padding-sections">
        <div class="title-section">
            <h1>Marvel Characters</h1>
            <select name="" id="">
                <option value="1">Sort by</option>
            </select>
        </div>
        <div class="fila">
            <div class="column-2" *ngFor="let characters of allCharacters">
                <div class="card-character">
                    <img src="{{characters.thumbnail.path +'/standard_medium.'+characters.thumbnail.extension}}" width="100%" class="card-img-character" alt="Some Issue Loading Image..." />
                    <div class="card-cont">
                        <h3>{{characters.name}}</h3>
                        <p>{{characters.description}}</p>
                        <button>View more</button>
                        <button type="button" (click)="openModal();"(click)="fetchComicsByCharacter(characters.id)" class="">Comics</button>
                        <!-- <button type="button" (click)="fetchSeriesByCharacter(characters.id)" class="">Series</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="aside-favorite-comics padding-sections">
        <h2>My favorites comics</h2>
    </aside>
</div>
<!-- <div class="" *ngIf="modalSwitch == true">
    <app-modal></app-modal>
</div> -->

<div class="overlay" *ngIf="modalSwitch == true">
    <div class="modal">
        <div class="modal-body">
            <h3>Contenido</h3>
            <button (click)="closeModal()">X</button>
            <h5>Related comics</h5>
            <div class="comics" *ngIf='showComicsDiv'>
                <ul>
                    <li *ngFor="let c of comics">
                        <img src="{{c.thumbnail.path +'/standard_medium.'+c.thumbnail.extension}}" width="100%" class="card-img-top" alt="Some Issue Loading Image..." />
                        {{ c.title }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
